// (c) Robots-JU 2016 - https://robots-ju.ch/

.area-content {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: stretch; // full height
	align-content: stretch; // full width

	h1 {
		font-family: $font-heading;
		color: #333;
		font-size: 2em;
		margin: 0;
	}

	h2 {
		font-family: $font-heading;
		color: #666;
	}

	h1, h2 {
		small {
			color: #aaa;
			font-size: 0.5em;
			margin-left: 1em;
		}
	}

	p {
		text-align: justify;
	}

	a {
		color: #888;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.area-content-top,
	.area-content-body {
		@media(min-width: $mobile-width) {
			display: flex;
			flex-direction: row;
			align-content: stretch; // full width
		}
	}

	.area-content-top {
		@media(min-width: $mobile-width) {
			padding-top: 180px;
		}
		align-items: flex-end;
		background-repeat: no-repeat;
		background-size: cover;

		section {
			margin-top: 100px;
			margin-bottom: 50px;

			&.section-popup {
				box-shadow: 0 0 10px rgba(black, 0.5);
			}
		}
	}

	.area-content-body {
		flex-grow: 1;
	}

	.container-main,
	.container-secondary {
		padding: 0 20px;
	}

	.container-main {
		flex-grow: 1;
	}

	.container-secondary {
		width: $nav-width;
		max-width: 100%;
	}

	section {
		margin: 20px auto;
		padding: 2em 1em;
		width: 15em;
		max-width: 100%;
		border-radius: 2px;

		&.section-card,
		&.section-popup {
			background: white;
			box-shadow: 0 0 2px rgba(black, 0.2);
		}

		&.section-card {
			padding: 1em;
			text-align: center;
		}

		&.section-popup {
			border-left: 0.4em solid $color-orange;
		}

		&.section-only-title {
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}
	}

	.container-main section {
		width: 32em;
	}

	.area-content-top .container-main {
		//padding-right: $nav-width;

		section {
			width: 50em; // no secondary sections on the side
		}
	}

	footer {
		border-top: 2px solid #eee;
		padding: 2em 1em;
		font-size: 0.9em;
		color: #888;

		p {
			text-align: center;
			margin: 0;
		}
	}
}
