// (c) Robots-JU 2016 - https://robots-ju.ch/

.area-nav {
	@media(min-width: $mobile-width) {
		width: $nav-width;
		flex-shrink: 0; // ne devrait pas etre fait mais nécessaire pour fixed
	}

	.container-nav {
		overflow: auto;
		padding: 1em;
		background: $color-orange;
		box-shadow: 0 0 2px 2px rgba(black, 0.2);

		@media(min-width: $mobile-width) {
			position: fixed;
			top: 0;
			left: 0;
			width: $nav-width;
			height: 100%;
		}

		@media(max-width: $mobile-width) {
			display: flex;
		}

		.logo {
			margin: 0.5em 0 1em;

			a {
				display: block;
				text-indent: -9999px;
				background-image: $img-logo-coupe;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				min-height: 6em;
			}

			@media(max-width: $mobile-width) {
				display: inline-block;

				a {
					width: 2em;
					min-height: 2em;
				}
			}
		}

		ul {
			list-style: none;
			margin: 0 0 1em;
			padding: 0;
			font-size: 1.5em;

			li {
				a {
					display: block;
					text-decoration: none;
					color: inherit;
					padding: 0.5em 1.3em;

					.fa {
						margin-right: 0.5em;
					}
				}

				&.active a {
					font-weight: bold;
				}

				&.active a,
				a:hover {
					color: #f1f1f1;
				}
			}

			@media(max-width: $mobile-width) {
				display: inline-block;
				text-align: center;

				li {
					display: inline-block;

					a {
						padding: 0.5em 0.3em;
					}
				}
			}

		}

		ul.sub-menu {
			@media (min-height: 700px) {
				position: absolute;
				bottom: 70px;
			}

			@media (max-height: 700px) {
				display: none;
			}
		}
	}
}
