.banner-image {
    .banner-text {
        @media (min-width: $screen-md-min) {
            min-height: $banner-small-height;
        }

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}

.page {
    margin-top: 20px;
}

.sponsoring-slideshow {
    text-align: center;
    background: #060606;

    img {
        max-width: 94%;
        margin: 8px;

        @media (min-width: 400px) {
            height: 150px;
        }

        @media (min-width: 1200px) {
            height: 200px;
        }

        @media (min-width: 1600px) {
            height: 280px;
        }
    }
}
